---
import Layout from "../layouts/PageLayout.astro";
import Section from "../components/Section.astro";

import Navbar from "src/components/Navbar.astro";

import Logo from "../components/Logo.astro";
import Button from "src/components/Button.astro";
import Form from "src/components/Form.astro";
---

<Layout title="Home">
  <!-- Nav -->
  <Navbar />

  <!-- Hero -->
  <div class="wrap">
    <Section
      className="Hero min-h-screen flex items-center justify-center text-center"
    >
      <div class="c flex flex-col items-center">
        <h2 class="leading-[1.2em] lg:text-[6vw]">
          <b>Grow</b> Your <br /> Sales Pipeline <br />with Lasso.
        </h2>
        <h1><b>The AI-Powered</b> Contact Discovery Solution.</h1>
        <p class="max-w-[35ch]">
          We've developed a cutting-edge <b>AI platform</b> that can quickly and
          accurately <b> find the contacts you're missing.</b>
        </p>
      </div>
    </Section>
    <Section className="flex flex-col">
      <div class="flex justify-end">
        <div class="c my-8 lg:max-w-[30vw]">
          <h2>Unlock the untapped.</h2>
          <h3>
            It’s not a matter of ‘if’ there are contacts out there that you’re
            missing, it’s a matter of <b>‘how many?’</b>
          </h3>
          <p>
            Keeping track of your contacts is a daunting task, especially in
            today's fast-paced business world. Change happens everyday yet
            legacy contact datasets are static and they don’t tell you <b
              >who or what you’re missing.</b
            >
          </p>
        </div>
      </div>
      <div>
        <div class="c my-8 lg:max-w-[30vw]">
          <h2>100% additive.</h2>
          <h3>Found Contacts. <b>Found money.</b></h3>
          <p>
            We've developed an <b>AI model</b>that can analyze your existing
            contacts and cross-reference them with publicly available data
            sources to identify any missing opportunities. This information can
            include
            <b
              >contact details, job titles, company information, and social
              media profiles.</b
            >
          </p>
        </div>
      </div>
    </Section>
  </div>

  <!-- Stats -->
  <div class="wrap">
    <Section className="min-h-screen flex  items-center">
      <div class="c max-w-[40vw]">
        <h2 class="text-[15vw] lg:text-[6vw]">
          Find your <b> missing</b> contacts.
        </h2>
      </div>
    </Section>
    <Section className="lg:h-[200vh] relative">
      <div class="top-[50vh] flex justify-end lg:sticky">
        <div class="c">
          <p class="text-[30vw] text-white lg:text-[20vw]">
            <span class="font-grid">88</span>
            <span class="text-[.3em] text-yellow">%</span>
          </p>
        </div>
      </div>
      <div class="c top-[50vh] lg:sticky lg:max-w-[30vw]">
        <h2>Gap Analysis</h2>
        <p>
          A leading NYC based <b> advertising company</b> used Lasso to perform a
          gap analysis on their top 1,000 target accounts selling on Shopify.
        </p>
        <p class="my-5 pl-4">
          CMO Chief Growth Officer VP of Marketing Director + Marketing titles
          with “growth” as a keyword
        </p>
        <h3>
          They were <b> missing 87%</b> of their <b> exact match ICP</b> (ideal customer
          profile) titles.
        </h3>
      </div>
    </Section>
  </div>

  <!-- End -->
  <div class="wrap">
    <Section>
      <div
        class="c flex h-screen flex-col items-center justify-center text-center"
      >
        <h2 class="text-[15vw] lg:max-w-[50vw] lg:text-[6vw]">
          Continuously find <b> net new</b>.
        </h2>
        <p class="max-w-[40ch]">
          <b>Automate</b> prospecting so that you can free up mental bandwidth and
          focus on what matters most, <b> closing deals</b> and maintaining <b
            >meaningful relationships.
          </b>
        </p>
      </div>
    </Section>
    <Section>
      <div class="c items-end lg:flex lg:px-6">
        <h2 class="py-0 text-[15vw] lg:max-w-[45%] lg:text-[6vw]">
          100% shots you didn’t take.
        </h2>

        <div class="lg:px-6">
          <h3>Built by sales people, <b>for sales people.</b></h3>
          <p class="max-w-[30vw]">
            We’re <b> programmatically solving</b> some of our biggest challenges
            with artificial intelligence.
          </p>
          <div class="my-8">
            <Button>Join The Waitlist</Button>
          </div>
        </div>
      </div>
    </Section>
  </div>

  <Section />

  <!-- Footer -->
  <footer class="c footer flex items-end justify-between py-4">
    <div class="flex w-[25vw] items-end">
      <div class="flex h-[10vh] items-end pr-10">
        <Logo />
      </div>
      <ul>
        <li>Terms and Condition</li>
        <li>Privacy Policy</li>
        <li>Cookie Policy</li>
        <li>Site by off brand.</li>
      </ul>
    </div>
    <div>2022 DEMAND GEN, INC. ALL RIGHTS RESERVED</div>
    <div class="w-[25vw]">
      <Form />
    </div>
  </footer>
  <div class="py-5"></div>
</Layout>
