---
import Layout from "../layouts/PageLayout.astro";
import Section from "../components/Section.astro";

import Navbar from "src/components/Navbar.astro";
import Footer from "src/components/Footer.astro";

import Square from "src/components/Square.astro";
import Button from "src/components/Button.astro";
import Sound from "src/components/Sound.astro";

import Title from "src/components/Title.astro";
---

<Layout title="Home">
  <!-- Nav -->
  <Navbar />

  <!-- Hero -->
  <div class="wrap" data-dom="hero">
    <Section
      className="Hero min-h-screen flex items-center justify-center text-center"
    >
      <div class="c flex flex-col items-center">
        <Title>
          <b>Grow</b>
          <span> Your <br /> Sales Pipeline <br />with Lasso<em>.</em></span>
        </Title>

        <h1 data-a="word"><b>The AI-Powered</b> Contact Discovery Solution.</h1>
        <p data-a="alpha" class="max-w-[35ch]">
          We've developed a cutting-edge <b>AI platform</b> that can quickly and
          accurately <b> find the contacts you're missing.</b>
        </p>
      </div>
    </Section>
    <Section className="flex flex-col">
      <div class="flex justify-end">
        <div class="c my-8 lg:max-w-[25vw]">
          <h2 data-a="char">Unlock the untapped<em>.</em></h2>
          <h3 data-a="word">
            It’s not a matter of "if" there are contacts out there that you’re
            missing, it’s a matter of <b>‘how many?’</b>
          </h3>
          <p data-a="alpha">
            Keeping track of your contacts is a daunting task, especially in
            today's fast-paced business world. Change happens everyday yet
            legacy contact datasets are static and they don’t tell you <b
              >who or what you’re missing.</b
            >
          </p>
        </div>
      </div>
      <div>
        <div class="c mt-[50vh] py-8 lg:max-w-[25vw]">
          <h2 data-a="char">100% additive<em>.</em></h2>
          <h3 data-a="word">Found Contacts. <b>Found money.</b></h3>
          <p data-a="alpha">
            We've developed an <b>AI model</b> that can analyze your existing contacts
            and cross-reference them with publicly available data sources to identify
            any missing opportunities. This information can include
            <b
              >contact details, job titles, company information, and social
              media profiles.</b
            >
          </p>
        </div>
      </div>
    </Section>
  </div>

  <div class="trans" data-dom="trans"></div>

  <!-- Stats -->
  <div class="wrap" data-dom="data">
    <Section className="min-h-screen flex  items-center">
      <div class="c md:max-w-[40vw]">
        <Title>
          Find your <b> missing</b> contacts<em>.</em>
        </Title>
      </div>
    </Section>
    <Section className="lg:h-[200vh] relative">
      <div class="top-[50vh] flex justify-end lg:sticky">
        <div class="c">
          <p class="text-[40vw] text-white lg:text-[20vw]">
            <span data-a="count" class="font-grid">88</span>
            <span class="text-[.3em] text-yellow">%</span>
          </p>
        </div>
      </div>
      <div
        class="c top-[50vh] rounded-lg rounded-tr-2xl bg-black p-8 md:rounded-none md:bg-black/0 md:p-0 lg:sticky lg:max-w-[30vw]"
      >
        <h2 data-a="char">Gap Analysis</h2>
        <p data-a="alpha">
          A leading NYC based <b> advertising company</b> used Lasso to perform a
          gap analysis on their top 1,000 target accounts selling on Shopify.
        </p>
        <div class="my-5 flex max-w-[40ch] items-center" data-a="alpha">
          <div class="flex aspect-square h-[5vh] items-center justify-center">
            <Square color="yellow" />
          </div>
          <p class="ml-6">
            CMO — Chief Growth Officer —  VP of Marketing Director — Marketing
            titles with “growth” as a keyword
          </p>
        </div>
        <h3 data-a="word">
          They were <b> missing 87%</b> of their <br />
          <b> exact match ICP</b> (ideal customer profile) titles.
        </h3>
      </div>
    </Section>
  </div>

  <div class="trans" data-dom="trans"></div>

  <!-- End -->
  <div class="wrap" data-dom="footer">
    <Section>
      <div
        class="c flex h-screen flex-col items-center justify-center text-center"
      >
        <!-- <h2 data-a="char" class="text-[10vw] lg:max-w-[50vw] lg:text-[6vw]"> -->
        <div class="lg:max-w-[50vw]">
          <Title>
            Continuously find <b> net new</b><em>.</em>
          </Title>
        </div>
        <!-- </h2> -->
        <h3 data-a="alpha" class="mt.8 max-w-[40ch] leading-[1.3em]">
          <b>Automate</b> prospecting so that you can free up mental bandwidth and
          focus on what matters most, <b> closing deals</b> and maintaining <b
            >meaningful relationships.
          </b>
        </h3>
      </div>
    </Section>
    <Section className="">
      <div class="c flex-col items-end gap-[10vw] lg:flex lg:flex-row">
        <!-- col 1 -->
        <h2 data-a="word" class="py-8 lg:w-1/2 lg:text-[6vw]">
          100% shots you wouldn't take<em>.</em>
        </h2>

        <!-- Col 2 -->
        <div class="lg:w-1/2 lg:pl-8">
          <h3 data-a="alpha" class="text-[2rem] lg:max-w-[20ch]">
            Built by sales people, <b>for sales people.</b>
          </h3>
          <p data-a="alpha" class="max-w-[40ch]">
            We’re <b> programmatically solving</b> some of our biggest challenges
            with artificial intelligence.
          </p>
          <div class="my-8">
            <Button>Join The Waitlist</Button>
          </div>
        </div>
      </div>
    </Section>

    <!-- Footer -->
    <Sound />
    <Footer />
  </div>
</Layout>
