---
import Layout from "../layouts/PageLayout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Home">
  <!-- Nav -->
  <nav class="fixed">
    <div class="nav">Nav</div>
  </nav>

  <!-- Hero -->
  <div class="wrap">
    <Section
      className="Hero min-h-screen flex items-center justify-center text-center"
    >
      <div class="c flex flex-col items-center">
        <h2 class="text-[6vw] leading-[1.2em]">
          <b>Grow</b> Your <br /> Sales Pipeline <br />with Lasso.
        </h2>
        <h1><b>The AI-Powered</b> Contact Discovery Solution.</h1>
        <p class="max-w-[35ch]">
          We've developed a cutting-edge <b>AI platform</b> that can quickly and
          accurately <b> find the contacts you're missing.</b>
        </p>
      </div>
    </Section>
    <Section className="flex flex-col">
      <div class="flex justify-end">
        <div class="c my-8 max-w-[30vw]">
          <h2>Unlock the untapped.</h2>
          <h3>
            It’s not a matter of ‘if’ there are contacts out there that you’re
            missing, it’s a matter of <b>‘how many?’</b>
          </h3>
          <p>
            Keeping track of your contacts is a daunting task, especially in
            today's fast-paced business world. Change happens everyday yet
            legacy contact datasets are static and they don’t tell you <b
              >who or what you’re missing.</b
            >
          </p>
        </div>
      </div>
      <div>
        <div class="c my-8 max-w-[30vw]">
          <h2>100% additive.</h2>
          <h3>Found Contacts. <b>Found money.</b></h3>
          <p>
            We've developed an <b>AI model</b>that can analyze your existing
            contacts and cross-reference them with publicly available data
            sources to identify any missing opportunities. This information can
            include
            <b
              >contact details, job titles, company information, and social
              media profiles.</b
            >
          </p>
        </div>
      </div>
    </Section>
  </div>

  <!-- Stats -->
  <div class="wrap">
    <Section className="min-h-screen flex  items-center">
      <div class="c max-w-[40vw]">
        <h2 class="text-[6vw]">
          Find your <b> missing</b> contacts.
        </h2>
      </div>
    </Section>
    <Section className="h-[200vh] relative">
      <div class="flex justify-end sticky top-[50vh]">
        <div class="c">
          <p class="text-white text-[20vw]">
            <span class="font-grid">88</span>
            <span class="text-yellow text-[.3em]">%</span>
          </p>
        </div>
      </div>
      <div class="c max-w-[30vw] sticky top-[50vh]">
        <h2>Gap Analysis</h2>
        <p>
          A leading NYC based <b> advertising company</b> used Lasso to perform a
          gap analysis on their top 1,000 target accounts selling on Shopify.
        </p>
        <p class="pl-4 my-5">
          CMO Chief Growth Officer VP of Marketing Director + Marketing titles
          with “growth” as a keyword
        </p>
        <h3>
          They were <b> missing 87%</b> of their <b> exact match ICP</b> (ideal customer
          profile) titles.
        </h3>
      </div>
    </Section>
  </div>

  <!-- End -->
  <div class="wrap">
    <Section>
      <div
        class="c text-center h-screen flex flex-col justify-center items-center"
      >
        <h2 class="text-[6vw] max-w-[50vw]">
          Continuously find <b> net new</b>.
        </h2>
        <p class="max-w-[40ch]">
          <b>Automate</b> prospecting so that you can free up mental bandwidth and
          focus on what matters most, <b> closing deals</b> and maintaining <b
            >meaningful relationships.
          </b>
        </p>
      </div>
    </Section>
    <Section>
      <div class="c flex items-end">
        <h2 class="text-[6vw] max-w-[50%]">100% shots you didn’t take.</h2>

        <div class="">
          <h3>Built by sales people, <b>for sales people.</b></h3>
          <p class="max-w-[30vw]">
            We’re <b> programmatically solving</b> some of our biggest challenges
            with artificial intelligence.
          </p>
        </div>
      </div>
    </Section>
  </div>

  <!-- Footer -->
  <Section />

  <div class="c footer">Footer</div>
</Layout>
