/* ------------------------------  Variables */
:root {
  /* Colors */
  --color-black: #121218;
  --color-white: #f5f5f5;
  --color-accent: #edff00;
  --color-lg: #99a0a9;
  /* Spaces */
  --space-s: 0.5rem;
  --space-m: 2rem;
  --space-l: 2.5rem;
  /* Easings */
  --ease-cubic-in: cubic-bezier(0.32, 0, 0.67, 0);
  --ease-cubic-out: cubic-bezier(0.33, 1, 0.68, 1);
}

@media screen and (min-width: 450px) {
  :root {
    --space-l: 6rem;
  }
}

/* ------------------------------  Utils */
html,
body {
  overscroll-behavior: none;
  /* touch-action: none; */
}

html,
body,
p,
h1,
h2,
h3,
h4 {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

[data-selectable] {
  user-select: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

/* ------------------------------  Main 

black #121218
white #F5F5F5
lg #99A0A9
yellow #EDFF00

*/

/* ------------------------------  Webgl */
[data-gl="c"] {
  /* border: 1px solid blue; */

  position: fixed;
  box-sizing: border-box;

  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;

  z-index: -10;
  /* pointer-events: none; */
  /* background: blue; */
}

canvas {
  /* border: 1px solid blue; */

  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100%;
}

[data-dom="trans"] {
  padding: 10vh 0;
  height: 50vh;
  /* border: 1px dashed white; */
}

/* ------------------------------  Layout */
body {
  /* background: var(--color-black); */
  color: var(--color-white);

  font-family: "Roobert";
  /* font-size: 14px; */
  /* line-height: 1.2em; */
}

main {
  min-height: 100vh;
}

.wrap {
  /* border: 1px dashed lightgray; */
  margin: 2em 0 2em 0;
}

.Section {
  /* border: 1px solid blue; */

  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}

.Hero {
  /* border: 1px solid pink; */
  padding-top: 0;
}

.c {
  /* border: 1px solid pink; */
  margin-left: var(--space-l);
  margin-right: var(--space-l);

  min-height: 20vh;
}

.footer {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

nav {
  padding-left: var(--space-l);
  padding-right: var(--space-l);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1em;
  padding: 0.6em 0;
}

/* h1 div,
h2 div,
h3 div,
h4 div,
h5 div {
  display: inline;
} */

/* Text Styles */
h2 {
  font-size: 3.1rem;
  /* line-height: 1.2em; */
  /* font-weight: 400; */
  /* line-height: 1.2em; */
}

h1 {
  font-size: 1.5rem;
  /* line-height: 2em; */
}

h3 {
  font-size: 1.2rem;
  /* line-height: 1.2em; */
}

h2 b {
  font-family: "Gridular";
}

h3 b,
h1 b {
  color: var(--color-accent);
}

p {
  font-size: 0.9rem;
  color: var(--color-lg);
}

p b {
  color: var(--color-white);
}

/* ------------------------------  Animation */

.svg .active {
  fill: var(--color-accent);
}

[data-page="w"] {
  visibility: hidden;
}

h2 em {
  color: var(--color-accent);
  font-style: normal;
}
/* h2:after {
  content: ".";
} */

/** Aimation */
[data-a="title"] div {
  overflow: hidden;
  height: 1.2em;
  will-change: transform;
  /* border: 1px solid pink; */
}

svg {
  opacity: 0;
}

.inview svg {
  opacity: 1;
  transition: opacity 0.8s;
}

/*
.inview:hover svg {
  transform: scale(0.8);
} */
