/* ------------------------------  Fonts */
@font-face {
  font-family: "Gridular";
  src: url("/fonts/Gridular-Regular.woff2") format("woff2"),
    url("/fonts/Gridular-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/LassoRoobertv2-Regular.woff2") format("woff2"),
    url("/fonts/LassoRoobertv2-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-grid {
  font-family: "Gridular";
}
