---
let { color } = Astro.props;
if (!color) color = "#fff";
---

<div class="svg Logo aspect-square h-full">
  <svg
    fill={color}
    height="100%"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 62 62"
    ><path
      d="M50.5 32.562h-7.15c-.351 0-.358-.007-.358-.36v-6.357c0-.562-.105-1.096-.423-1.573-.479-.716-1.155-1.09-2.008-1.153-.124-.009-.25-.004-.375-.004h-13c-.496-.01-.862-.348-.867-.842-.011-1.14-.011-2.28 0-3.42.004-.46.33-.785.787-.832.102-.008.205-.012.308-.01 4.297 0 8.594-.032 12.89.01 3.318.034 5.664 1.676 7.126 4.608.45.903.65 1.888.66 2.905.005.492.003.986.003 1.478 0 .45 0 .451.44.451h9.16c.552.012.9.32.908.868.016 1.118.016 2.236 0 3.355-.008.552-.36.87-.928.874-1.089.006-2.178 0-3.267 0l-3.905.002ZM28.923 44.999h-6.931c-.699-.007-1.012-.317-1.012-1.013-.002-1.03-.002-2.06 0-3.09a1.85 1.85 0 0 1 .023-.307.796.796 0 0 1 .731-.683c.14-.011.28-.015.419-.011h12.89c.515 0 1.016-.059 1.468-.322.85-.497 1.305-1.24 1.313-2.227.013-1.426.004-2.852.004-4.281 0-.074.005-.148 0-.22-.01-.164.07-.22.227-.22 1.552.004 3.104.004 4.657 0 .156 0 .226.056.226.22-.004 1.633.051 3.269-.017 4.899-.134 3.184-2.266 5.854-5.15 6.836a8.177 8.177 0 0 1-2.668.42c-2.061-.004-4.122-.004-6.18-.001Z"
    ></path><path
      d="M25.31 32.563H5.103c-.833 0-1.104-.277-1.104-1.116V28.49c-.001-.14.013-.278.042-.414a.782.782 0 0 1 .707-.602c.11-.01.22-.01.33-.01 7.239 0 22.787 0 30.025-.003.583 0 1.122.107 1.604.453.72.516 1.052 1.225 1.052 2.1v2.25c0 .271-.028.298-.31.298H25.31Z"
    ></path></svg
  >
</div>
