---
import Logo from "./Logo.astro";
---

<button
  class="flex items-center rounded-md rounded-br-xl bg-yellow px-6 py-3 text-black"
>
  <slot />
  <div class="flex h-[2em] items-center pl-3">
    <Logo color="#000" />
  </div>
</button>
