---
import Logo from "./Logo.astro";
import Form from "./Form.astro";

const LINKS = [
  {
    name: "Terms and Condition",
    href: "/",
  },
  {
    name: "Privacy Policy",
    href: "/",
  },
  {
    name: "Cookie Policy",
    href: "/",
  },
];
---

<footer class="c footer my-8 items-end justify-between text-[12px] lg:flex">
  <!-- col1 -->
  <div class="flex lg:w-[25vw] lg:items-end">
    <div class="hidden h-[10vh] items-end pr-10 lg:flex">
      <Logo />
    </div>
    <ul>
      {
        LINKS.map((link) => {
          return (
            <li>
              <a
                target="_blank"
                class="hover:text-lgr duration-300 ease-out"
                href={link.href}
              >
                <div class="py-[.2em]">{link.name}</div>
              </a>
            </li>
          );
        })
      }

      <li>
        <a
          target="_blank"
          class="hover:text-lgr"
          href="https://www.itsoffbrand.com/"
        >
          <div class="pt-[1.8em] underline">Site by off brand.</div>
        </a>
      </li>
    </ul>
  </div>
  <!-- col2 -->
  <div class="text-[8px]">2022 DEMAND GEN, INC. ® ALL RIGHTS RESERVED</div>
  <!-- col3 -->
  <div class="hidden w-full lg:block lg:w-[25vw]">
    <Form />
  </div>
</footer>

<div class="py-3 lg:py-5"></div>
