---
let { color } = Astro.props;
if (!color) color = "#fff";
---

<div class="svg Logo aspect-square h-2/3">
  <svg
    fill={color}
    height="100%"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 62 62"
    ><path
      d="M29.476 49.255V40.65c0-.423.008-.431.433-.431h7.65c.676 0 1.32-.126 1.893-.51.861-.575 1.312-1.388 1.387-2.415.01-.15.005-.301.005-.452V21.198c.012-.597.418-1.037 1.013-1.044 1.372-.013 2.744-.013 4.117 0 .553.006.944.398 1 .948.01.123.014.247.012.37 0 5.171.039 10.342-.013 15.512-.04 3.993-2.016 6.817-5.545 8.575-1.085.544-2.271.784-3.495.796-.593.006-1.186.002-1.78.003-.541 0-.542 0-.542.53v11.023c-.014.664-.384 1.083-1.044 1.092-1.346.02-2.691.02-4.037 0-.665-.009-1.048-.432-1.052-1.117-.007-1.31 0-2.62 0-3.93l-.002-4.701ZM14.51 23.287v-8.341c.007-.84.38-1.217 1.217-1.217 1.24-.003 2.48-.003 3.72 0 .123-.002.247.007.37.027a.958.958 0 0 1 .821.88c.013.168.018.336.014.504v15.51c0 .62.07 1.223.387 1.767.598 1.022 1.492 1.57 2.68 1.581 1.715.015 3.432.004 5.152.004.088 0 .177.006.265 0 .197-.011.264.085.263.273-.003 1.868-.003 3.736 0 5.604 0 .189-.066.273-.263.273-1.966-.005-3.934.062-5.896-.02-3.831-.162-7.045-2.728-8.227-6.198-.356-1.042-.506-2.113-.505-3.21.004-2.482.005-4.96.002-7.438Z"
    ></path><path
      d="M29.475 18.939V4.624c0-1.003.332-1.329 1.342-1.329h3.559c.168-.002.335.015.498.05a.94.94 0 0 1 .724.85c.012.133.011.266.011.399 0 8.71.002 17.421.004 26.132 0 .702-.128 1.35-.544 1.93-.622.867-1.474 1.267-2.527 1.267h-2.71c-.325 0-.356-.035-.357-.375V18.94Z"
    ></path></svg
  >
</div>
