---
---

<button
  data-sound="toggle"
  class="position fixed bottom-5 right-5 aspect-square w-5"
>
  <svg
    version="1.1"
    id="sound"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 37 37"
    style="enable-background:new 0 0 37 37;"
    xml:space="preserve"
    fill="#fff"
    width="100%"
  >
    <path
      id="d"
      class="st0"
      d="M6.2,18.4V7.2c0-0.8,0.3-1.1,1.1-1.1c1,0,2,0,3,0c0.1,0,0.3,0,0.4,0c0.2,0,0.3,0.1,0.4,0.3
	c0.1,0.1,0.2,0.3,0.2,0.5c0,0.1,0,0.2,0,0.3c0,7.2,0,13.8,0,21c0,0.6-0.1,1.1-0.5,1.6c-0.5,0.7-1.2,1.1-2.1,1.1c-0.8,0-1.5,0-2.3,0
	c-0.3,0-0.3,0-0.3-0.3c0-1.8,0-3.7,0-5.5L6.2,18.4z"
    ></path>
    <path
      id="c"
      class="st0"
      d="M12.7,18.4V7.2c0-0.8,0.3-1.1,1.1-1.1c1,0,2,0,3,0c0.1,0,0.3,0,0.4,0c0.2,0,0.3,0.1,0.4,0.3
	c0.1,0.1,0.2,0.3,0.2,0.5c0,0.1,0,0.2,0,0.3c0,7.2,0,13.8,0,21c0,0.6-0.1,1.1-0.5,1.6c-0.5,0.7-1.2,1.1-2.1,1.1c-0.8,0-1.5,0-2.3,0
	c-0.3,0-0.3,0-0.3-0.3c0-1.8,0-3.7,0-5.5L12.7,18.4z"
    ></path>
    <path
      id="b"
      class="st0"
      d="M19.2,18.4V7.2c0-0.8,0.3-1.1,1.1-1.1c1,0,2,0,3,0c0.1,0,0.3,0,0.4,0c0.2,0,0.3,0.1,0.4,0.3
	c0.1,0.1,0.2,0.3,0.2,0.5c0,0.1,0,0.2,0,0.3c0,7.2,0,13.8,0,21c0,0.6-0.1,1.1-0.5,1.6c-0.5,0.7-1.2,1.1-2.1,1.1c-0.8,0-1.5,0-2.3,0
	c-0.3,0-0.3,0-0.3-0.3c0-1.8,0-3.7,0-5.5L19.2,18.4z"
    ></path>
    <path
      id="a"
      class="st0"
      d="M25.7,18.4V7.2c0-0.8,0.3-1.1,1.1-1.1c1,0,2,0,3,0c0.1,0,0.3,0,0.4,0c0.2,0,0.3,0.1,0.4,0.3
	c0.1,0.1,0.2,0.3,0.2,0.5c0,0.1,0,0.2,0,0.3c0,7.2,0,13.8,0,21c0,0.6-0.1,1.1-0.5,1.6c-0.5,0.7-1.2,1.1-2.1,1.1c-0.8,0-1.5,0-2.3,0
	c-0.3,0-0.3,0-0.3-0.3c0-1.8,0-3.7,0-5.5L25.7,18.4z"
    ></path>
  </svg>
</button>

<style>
  #a,
  #b,
  #c,
  #d {
    transform-origin: center center;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  @keyframes move {
    0% {
      transform: scaleY(1);
    }

    50% {
      transform: scaleY(0.5);
    }

    100% {
      transform: scaleY(1);
    }
  }

  #a {
    animation-delay: 500ms;
    animation-duration: 3s;
  }

  #b {
    animation-delay: 200ms;
    animation-duration: 4.5s;
  }

  #c {
    animation-delay: 300ms;
  }

  #d {
    animation-delay: 400ms;
    animation-duration: 5s;
  }
</style>
