---
---

<button
  data-sound="toggle"
  class="position fixed bottom-5 right-5 aspect-square w-5"
>
  <svg
    fill="#fff"
    width="100%"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 28 25"
    ><path
      d="M5.625 12.31v-.206c0-.833-.252-1.104-1.02-1.104H1.9a1.575 1.575 0 0 0-.379.042.708.708 0 0 0-.381.254.823.823 0 0 0-.17.453c-.008.11-.008.22-.008.33 0 7.239 0 2.787-.002 10.025 0 .583.097 1.122.413 1.604.472.72 1.12 1.052 1.92 1.052h2.059c.247 0 .271-.028.272-.31V12.31Zm2.32 0V1.103C7.945.271 8.221 0 9.061 0h2.957c.14-.001.278.013.414.042a.782.782 0 0 1 .602.707c.01.11.01.22.01.33 0 7.239 0 13.787.002 21.025 0 .583-.106 1.122-.452 1.604-.516.72-1.225 1.052-2.1 1.052H8.243c-.27 0-.297-.028-.297-.31V12.31Zm7.203 0V6.103c0-.833.277-1.104 1.116-1.104h2.957c.14-.001.278.013.414.042a.782.782 0 0 1 .602.707c.01.11.01.22.01.33 0 7.239 0 8.787.003 16.025 0 .583-.107 1.122-.453 1.604-.516.72-1.225 1.052-2.1 1.052h-2.25c-.271 0-.298-.028-.298-.31V12.31Zm7.204-.001v5.795c0-.834.276-1.105 1.115-1.105h2.957c.14-.001.279.013.415.042a.782.782 0 0 1 .601.707c.01.11.01.22.01.33 0 7.239 0-3.213.003 4.025 0 .584-.107 1.122-.453 1.604-.516.721-1.225 1.053-2.1 1.053h-2.25c-.271 0-.297-.029-.298-.311v-12.14Z"
    ></path></svg
  >
</button>
