---
let { color } = Astro.props;
if (!color) color = "#fff";
---

<div class="svg Logo aspect-square h-full">
  <svg
    fill={color}
    height="100%"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 62 62"
    ><path
      d="M27.354 6.91h2.23c1.053.011 1.525.538 1.525 1.72.003 1.75.003 3.5 0 5.25.001.175-.01.35-.034.522a1.417 1.417 0 0 1-.369.8c-.2.212-.459.339-.732.361-.21.018-.42.025-.63.019H18.137c-.775 0-1.53.099-2.21.547-1.28.844-1.966 2.106-1.979 3.782-.019 2.423-.005 4.846-.005 7.275 0 .125-.007.25 0 .374.014.278-.106.372-.342.371-2.337-.004-4.674-.004-7.012 0-.235 0-.341-.093-.34-.372.006-2.774-.078-5.553.025-8.323.202-5.409 3.413-9.946 7.754-11.615 1.305-.502 2.644-.714 4.018-.713 3.104.006 6.206.007 9.306.003Zm7.516 47.297h-2.232c-1.052-.011-1.524-.538-1.524-1.72-.004-1.75-.004-3.5 0-5.25-.002-.175.01-.35.034-.522a1.41 1.41 0 0 1 .369-.8c.2-.211.459-.339.732-.36.21-.02.42-.026.63-.02h11.205c.776 0 1.53-.099 2.211-.547 1.28-.844 1.965-2.105 1.978-3.782.02-2.423.006-4.846.006-7.274 0-.126.007-.25 0-.375-.015-.278.106-.372.341-.371 2.338.005 4.675.005 7.012 0 .236 0 .342.093.341.372-.006 2.775.078 5.553-.025 8.323-.202 5.41-3.413 9.946-7.754 11.615-1.305.502-2.645.714-4.018.713-3.104-.006-6.207-.007-9.307-.002Zm-18.3 0h8.349c.842-.011 1.22-.538 1.22-1.72.002-1.75.002-3.5 0-5.25a4.43 4.43 0 0 0-.027-.522 1.594 1.594 0 0 0-.296-.8c-.16-.211-.367-.339-.586-.36a3.498 3.498 0 0 0-.504-.02h-8.964c-.62 0-1.224-.099-1.769-.547-1.023-.844-1.571-2.105-1.582-3.782-.015-2.423-.004-4.846-.004-7.274 0-.126-.006-.25 0-.375.011-.278-.085-.372-.274-.371-1.87.005-3.74.005-5.61 0-.188 0-.272.093-.272.372.005 2.775-.062 5.553.02 8.323.162 5.41 2.73 9.946 6.204 11.615a7.283 7.283 0 0 0 3.214.713c2.483-.006-1.598-.007.882-.002ZM45.66 6.91h-8.35c-.842.011-1.22.538-1.22 1.72-.002 1.75-.002 3.5 0 5.25 0 .175.009.35.028.522.03.307.135.59.295.8.16.212.367.339.586.361.168.018.336.025.505.019h8.963c.62 0 1.224.099 1.77.547 1.022.844 1.57 2.106 1.581 3.782.016 2.423.005 4.846.005 7.275 0 .125.005.25 0 .374-.012.278.085.372.273.371 1.87-.004 3.74-.004 5.61 0 .188 0 .273-.093.272-.372-.005-2.774.063-5.553-.02-8.323-.161-5.409-2.73-9.946-6.203-11.615a7.282 7.282 0 0 0-3.215-.713c-2.483.006 1.599.007-.881.003ZM34.366 26.102c1.233 0 1.634.43 1.634 1.743v4.62c.002.218-.019.435-.062.648a1.235 1.235 0 0 1-.377.652c-.188.169-.422.27-.669.288-.162.015-.326.015-.49.015-10.712 0 7.605.001-3.108.005-.863 0-1.66-.167-2.373-.708-1.067-.806-1.558-1.913-1.558-3.28v-3.518c0-.423.042-.464.46-.465h6.543Z"
    ></path></svg
  >
</div>
